backendServer/node_modules
backendServer/nodejs
backendServer/node.exe
backendServer/package-lock.json
backendServer/debug.log

backendServer/node_modules
backendServer/fairseq/Python38
backendServer/fairseq/build
backendServer/fairseq/japaneseModel
backendServer/package-lock.json
backendServer/debug.log

userInterface/*
!userInterface/resources
userInterface/resources/*
!userInterface/resources/app
userInterface/resources/app/build
userInterface/resources/app/node_modules
userInterface/resources/app/package-lock.json

