backendServer/node_modules
backendServer/nodejs
backendServer/node.exe
backendServer/package-lock.json
backendServer/debug.log

offlineTranslation/node_modules
offlineTranslation/Python38
offlineTranslation/fairseq/build
offlineTranslation/fairseq/japaneseModel
offlineTranslation/package-lock.json
offlineTranslation/debug.log

Power-Source/*

DictionaryProgram/*

userInterface/*
!userInterface/resources
userInterface/resources/*
!userInterface/resources/app
userInterface/resources/app/build
userInterface/resources/app/node_modules
userInterface/resources/app/package-lock.json

