backendServer/node_modules
backendServer/package-lock.json
backendServer/Modules/Offline-Translation-Server/offlineTranslation/fairseq/debug.log
backendServer/Modules/Offline-Translation-Server/offlineTranslation/fairseq/build
backendServer/Modules/Offline-Translation-Server/offlineTranslation/fairseq/japaneseModel
backendServer/offlineTranslation/node_modules
backendServer/offlineTranslation/package-lock.json
backendServer/offlineTranslation/debug.log

Power-Source/*

DictionaryProgram/*

userInterface/*
!userInterface/resources
userInterface/resources/*
!userInterface/resources/app
userInterface/resources/app/build
userInterface/resources/app/node_modules
userInterface/resources/app/package-lock.json

